.offcanvas {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.offcanvas-header {
    padding-bottom: 0;
}

.offcanvas-body {
    padding-top: 0;
}

.btn-bg-red {
    color: red
}

.sort-btn-width {
    width: 150px;
}