
<footer class="bg-secondary text-white p-1 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div><img src="../../../../assets/images/company-logo.png" alt="Company Logo" class="mr-3">
                </div>
                <div><span>© 2024</span></div>
            </div>
            <div class="col-md-4 text-center">
                <div class="fw-bold mb-3 text-dark">Version</div>
                <div>2.2.0</div>
            </div>
            <div class="col-md-4 text-end">
                <div class="fw-bold mb-3 text-dark">About</div>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Policy</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
